 @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");

 .dark-mode {
     --bs-body-bg: #343a40;
     --bs-body-color: #f0f1f2;
     --bs-card-bg: #343a40;
     --bs-card-color: #f0f1f2;
     --bs-primary: #66bfff;
     --bs-secondary: #999999;
     --bs-light: #343a40;
     --bs-dark: #f0f1f2;
     --carousel-arrow-filter: invert(0);
 }

 body {
     background-color: var(--bs-body-bg);
     color: var(--bs-body-color);
     --carousel-arrow-filter: invert(1);
 }

 .card {
     background-color: var(--bs-card-bg);
     color: var(--bs-card-color);
 }

 /* bg-light / text-dark Utilities anpassen */
 .bg-light {
     background-color: var(--bs-light) !important;
 }

 .text-dark {
     color: var(--bs-dark) !important;
 }

 .dark-mode header,
 .dark-mode section {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
}

.dark-mode header h1,
.dark-mode header h2,
.dark-mode header h3,
.dark-mode header p,
.dark-mode section h2,
.dark-mode section h3,
.dark-mode a {
    color: var(--bs-dark) !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: var(--carousel-arrow-filter);
    background-color: transparent;
    transition: filter 0.3s ease;
}

#embedbsky-com-timeline-embed * {
    font-family: 'Nunito Sans', sans-serif !important;
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
    size: 14px !important;
}